.container{
    display: flex;
    max-width: 100%;
}
.item{
    flex: 1;
    margin: 5px;
    background: rgb(250, 241, 123);
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
      
}
.adote{
    flex: 1;
    margin: 5px;
    background: rgb(250, 241, 123);
    text-align: center;
    font-size: 1.5em;
    
}
body{
    font-family: monospace;
    color: rgb(58, 58, 58);
    background: rgb(253, 253, 253);
       
}
.adote:hover {
    font-size: 50px;
    cursor: pointer;
    transition: 0.1;
          
}
.item:hover{
    color:rgb(255, 249, 249);
    transition: 3s;
}